<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        <!-- Link to the CSS stylesheet and favicon -->

        <!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<style>
	
	}
	h1.head {color:blue}
</style>

    </head>
    <body>
    PubKey: {{.PubKey}}
    <br/>
    NodeUri: {{.NodeUri}}
<header>
    <h1><a href="/">Test</a></h1>
</header>
<nav>
    <a href="/">Home</a>
    <a href="/">Test</a>
</nav>
<img src="images/tab.jpg">
<a href="/invoice">Get invoice</a>
</br>
Board:
</br>
<div id="board" style="width:200px;height:200px;border: 1px solid;">

</div>
<script src="/js/board.js"></script>
</body>
</html>
